<ion-view view-title="Become a Partner" hide-nav-bar="true">
    <ion-content class="become-partner">
        <div class="header">
            <a ng-click="doTheBack()" class="cs-backbtn button button-icon icon ion-android-arrow-back fff" style="z-index:9;"></a>
            <div class="logo text-center animated pulse">
                <img src="img/white-logo.svg" alt="">
            </div>
        </div>

        <style type="text/css">
            .dnone{display: none}
            .dherit{display: inherit;}
            sup{color:#f00;font-size: 12px;top: -2px;}
        </style>

        <div class="form-data">
            <h2 class="heading-c">Become a Partner</h2>

            <form name="Addform">
                <div class="b-partner" ng-class="pageone==true ? '' : 'dnone'">
                    <div class="heading">
                        <h2>Basic Information</h2>
                    </div>

                    <ul>
                        <li>
                            <label>
                                <span ng-if="dr_type==1">Counter Name</span>
                                <span ng-if="dr_type==2">Firm Name</span> <sup>*</sup>
                            </label>
                            <input type="text" pattern="[a-zA-Z0-9\s]+" ng-model="mydata.counter_name">
                        </li>
                        <li>
                            <label>Contact Person <sup>*</sup></label>
                            <input type="text" ng-model="mydata.name">
                        </li>
                        <li>
                            <label>Mobile No.1 <sup>*</sup></label>
                            <input type="number" string-to-number ng-model="mydata.mob" name="mob1" maxlength="10" minlength="10" ng-disabled="mobile_disable">
                            <span class="error-left relative" ng-show="Addform.mob1.$error.minlength">* Mobile No. not Valid</span>
                            <span class="error-left relative" ng-show="Addform.mob1.$error.maxlength">* Mobile No. not Valid</span>
                        </li>
                        <li>
                            <label>Mobile No.2</label>
                            <input type="number" ng-model="mydata.mob2" name="mob2" maxlength="10" minlength="10">
                            <span class="error-left relative" ng-show="Addform.mob2.$error.minlength">* Mobile No. not Valid</span>
                            <span class="error-left relative" ng-show="Addform.mob2.$error.maxlength">* Mobile No. not Valid</span>
                        </li>
                        <li>
                            <label>Landline No.</label>
                            <input type="number" ng-model="mydata.landline">
                        </li>
                        <li>
                            <label>GST Number</label>
                            <input type="text" ng-model="mydata.gst" ng-disabled="gst_disable">
                        </li>
                        <li>
                            <label>Date of Birth</label>
                            <label>
                                <input class="no-padding-left h30" style="border: solid 1px #ccc;" type="date" ng-model="mydata.dob">
                            </label>
                        </li>
                        <li>
                            <label>Email</label>
                            <input type="email" ng-model="mydata.email">
                        </li>
                        <li ng-if="dr_type==2">
                            <label>Business Nature <sup>*</sup></label>
                            <select ng-model="mydata.lead_type">
                                <option value="">Business Nature</option>
                                <option>Distributor</option>
                                <option>Direct Dealer</option>
                            </select>
                        </li>
                        <li>
                            <label>Interested Type <sup>*</sup></label>
                            <select ng-model="mydata.int_type" required>
                                <option value="">Interested Type</option>
                                <option>Confirmed</option>
                                <option>Waiting</option>
                                <option>Not Interested</option>
                            </select>
                        </li>
                        <li style="text-align: center; margin-bottom: 0px !important;" ng-if="mydata.int_type && mydata.mob && mydata.counter_name && mydata.name">
                            <button class="go" ng-click="go_one()">GO</button>
                        </li>
                    </ul>
                </div>
            </form>

            <div class="b-partner animated bounceInRight" ng-class="pagetwo==true ? 'dherit' : 'dnone'" >
                <div class="heading">
                    <h2>Address Information</h2>
                </div>

                <ul>
                    <li><h1>Billing Address</h1></li>
                    <li>
                        <label>State <sup>*</sup></label>
                        <select-search-box  selected-value="data.selectedValue7" ng-model="data.selectedValue7" item-name="state_name" item-id="state_name" select-title="Select State" source="state_arr" placeholder-text="Select State" header-class="bar-calm" select-changed="get_district(data.selectedValue7,'1',1)">
                        </select-search-box>
                    </li>
                    <li>
                        <label>District <sup>*</sup></label>
                        <select-search-box disabled="{{dist_arr.length==0 ? 'true' : 'false'}}" selected-value="data.selectedValue8" ng-model="data.selectedValue8" item-name="district_name" item-id="district_name" select-title="Select District" source="dist_arr" placeholder-text="Select District" header-class="bar-calm" select-changed="get_district(data.selectedValue8,'2',1)">
                        </select-search-box>
                    </li>
                    <li>
                        <label>City <sup>*</sup></label>
                        <select-search-box selected-value="data.selectedValue10" item-name="city" ng-model="data.selectedValue10" item-id="city" select-title="Select City" source="city_arr" placeholder-text="Select City" header-class="bar-calm" select-changed="get_district(data.selectedValue10,'3',1)" required>
                        </select-search-box>
                    </li>
                    <li>
                        <label>Street <sup>*</sup></label>
                        <textarea name="" ng-model="mydata.street"></textarea>
                    </li>
                    <li>
                        <label>Area <sup>*</sup></label>
                        <select-search-box selected-value="data.selectedValue11" item-name="area" ng-model="data.selectedValue11" item-id="area" select-title="Select Area" source="area_arr" placeholder-text="Select Area" header-class="bar-calm" select-changed="get_district(data.selectedValue11,'4',1)" required>
                        </select-search-box>
                    </li>
                    <li>
                        <label>Postal Code <sup>*</sup></label>
                        <select-search-box selected-value="data.selectedValue9" item-name="pincode" ng-model="data.selectedValue9" item-id="pincode" select-title="Select Pin Code" source="pin_arr" placeholder-text="Select Pin Code" header-class="bar-calm" select-changed="get_district(data.selectedValue9,'5',1)" required>
                        </select-search-box>
                    </li>
                    <li>
                        <h1>Shipping Address</h1>
                    </li>
                    <li>
                        <label class="left pr-30">Same as Billing Address</label>
                        <label class="left pr-30">
                            <input name="group1" type="radio" class="left mt-2 mr-5" ng-click="same_ship_as_bill_add_lead(1)"/>
                            <span>Yes</span>
                        </label>
                        <label class="left">
                            <input name="group1" type="radio"  class="left mt-2 mr-5" ng-click="same_ship_as_bill_add_lead(2)"/>
                            <span>No</span>
                        </label>
                        <div style="clear: both;"></div>
                    </li>

                    <span ng-if="show_ship">
                        <li>
                            <label>Shipping State <sup>*</sup></label>
                            <select-search-box  selected-value="data.selectedValue12" ng-model="data.selectedValue12" item-name="state_name" item-id="state_name" select-title="Select Shipping State" source="ship_state_arr" placeholder-text="Select Shipping State" header-class="bar-calm" select-changed="get_district(data.selectedValue12,'6',1)">
                            </select-search-box>
                        </li>
                        <li>
                            <label>Shipping District <sup>*</sup></label>
                            <select-search-box disabled="{{dist_arr.length==0 ? 'true' : 'false'}}" selected-value="data.selectedValue13" ng-model="data.selectedValue13" item-name="district_name" item-id="district_name" select-title="Select Shipping District" source="ship_dist_arr" placeholder-text="Select Shipping District" header-class="bar-calm" select-changed="get_district(data.selectedValue13,'7',1)">
                            </select-search-box>
                        </li>
                        <li>
                            <label>Shipping City <sup>*</sup></label>
                            <select-search-box selected-value="data.selectedValue14" item-name="city" ng-model="data.selectedValue14" item-id="city" select-title="Select Shipping City" source="ship_city_arr" placeholder-text="Select Shipping City" header-class="bar-calm" select-changed="get_district(data.selectedValue14,'8',1)" required>
                            </select-search-box>
                        </li>
                        <li>
                            <label>Shipping Street <sup>*</sup></label>
                            <textarea name="" ng-model="mydata.ship_street"></textarea>
                        </li>
                        <li>
                            <label>Shipping Area <sup>*</sup></label>
                            <select-search-box selected-value="data.selectedValue15" item-name="area" ng-model="data.selectedValue15" item-id="area" select-title="Select Shipping Area" source="ship_area_arr" placeholder-text="Select Shipping Area" header-class="bar-calm" select-changed="get_district(data.selectedValue15,'9',1)" required>
                            </select-search-box>
                        </li>
                        <li>
                            <label>Shipping Postal Code <sup>*</sup></label>
                            <select-search-box selected-value="data.selectedValue16" item-name="pincode" ng-model="data.selectedValue16" item-id="pincode" select-title="Select Shipping Pin Code" source="ship_pin_arr" placeholder-text="Select Shipping Pin Code" header-class="bar-calm" select-changed="get_district(data.selectedValue16,'10',1)">
                            </select-search-box required>
                        </li>
                    </span>
                    <li style="text-align: center; margin-bottom: 0px !important;" ng-if="data.selectedValue7 && data.selectedValue8 && data.selectedValue9 && data.selectedValue10 &&  data.selectedValue11 && mydata.street && isShipAdd =='1'">
                        <button ng-click="go_two()" class="go">GO</button>
                    </li>

                    <li style="text-align: center; margin-bottom: 0px !important;" ng-if="data.selectedValue7 && data.selectedValue8 && data.selectedValue9 && data.selectedValue10 &&  data.selectedValue11 && mydata.street && data.selectedValue12 && data.selectedValue13 && data.selectedValue14 && data.selectedValue15 &&  data.selectedValue16 && mydata.ship_street && isShipAdd =='2'">
                        <button ng-click="go_two()" class="go">GO</button>
                    </li>
                </ul>

            </div>

            <div class="b-partner animated bounceInRight" ng-class="pagethree==true ? 'dherit' : 'dnone'">
                <div class="heading">
                    <h2>Profile Information</h2>
                </div>
                <ul>
                    <li>
                        <label>Description</label>
                        <textarea name="" ng-model="mydata.desc" required></textarea>
                    </li>
                </ul>
                <div class="upload-plus-icon padding-16 no-padding-bottom">
                    <div class="input-label w100">
                        Upload Picture
                    </div>
                    <ul>
                        <li>
                            <div class="label" ng-click="camera_click(7)">
                                <button type="button">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </li>
                        <li class="relative" ng-if="mediaData[0].src">
                            <label>
                                <!-- <img src="{{mediaData[0].src}}"> -->
                                <img ng-src="{{mediaData[0].src}}">
                            </label>
                        </li>
                    </ul>
                </div>

                <ul class="no-padding-bottom">
                    <li style="margin: 0px !important;">
                        <div class="input-submit">
                            <input type="submit" value="submit" ng-style="{'opacity' : (mydata.desc && mediaData[0].src) ? 1 : 0.5}"  ng-click="(mydata.desc && mediaData[0].src) ? add_dr() : ''">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
