<ion-view view-title="POP & Gift" >

    <!-- BACKBTN ICON START -->
    <ion-nav-buttons side="left">
        <a ng-click="retailerdetails($root.retailers_id,'2')" class="cs-backbtn button button-icon icon ion-android-arrow-back fff"></a>
    </ion-nav-buttons>
    <!-- BACKBTN ICON END-->

    <!-- HOME ICON START -->
    <ion-nav-buttons side="right">
        <a href="#/home" class="button button-icon icon ion-home fff font-18"></a>
    </ion-nav-buttons>
    <!-- HOME ICON END-->

    <ion-content ng-controller="PopCtrl">
        <div class="data-not-found" ng-hide="ret_pop_gift_data.length">
            <div class="outer">
                <div class="innear">
                    <img src="img/data-not-found.svg" alt="">
                    <h2>Temporarily , No POP & GIFT Available</h2>
                </div>
            </div>
        </div>
        <div class="user-list date-format" ng-if="ret_pop_gift_data.length">
            <div class="list">
                <!-- looP start -->
                <div class="item item-avatar" ng-repeat="pg_list  in ret_pop_gift_data track by $index">
                    <div class="date-info-icon">
                      <h2>{{formatDate(pg_list.date_created)| date:'dd'}}</h2>
                      <p>{{formatDate(pg_list.date_created)| date:'MMM'}}</p>
                    </div>
                    <a>
                      <h2>{{pg_list.item_name}}</h2>
                      <p>QTY &nbsp; : &nbsp; <span class="icon-color">{{pg_list.qty}} Pcs.</span></p>
                      <p ng-if="pg_list.delivery_note">Delivery Note &nbsp; : &nbsp; <span class="icon-color">{{pg_list.delivery_note}}</span></p>
                      <p>Receiving Status &nbsp; : &nbsp; 
                          <span class="icon-color" ng-if="pg_list.received==1">Pending</span>
                          <span class="icon-color" ng-if="pg_list.received==0">Received</span>
                      </p>
                    </a>
                </div>
                <!-- looP end -->
            </div>
        </div>
    </ion-content>

    <a ng-click="exe_pop_gift_stock_data('2');" class="pluse-icon blue-bg">
        <i class="material-icons fff">add</i>
    </a>
</ion-view>
